.navbar{
  height: 50px;
  background-color: rgba(102, 16, 83, 0.698);
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  font-size: 25px;
  font-weight: bold;
}

.list{
  display: flex;
  align-items: center;
  list-style: none;

}

.listItem{
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;

}

.avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.card{
  width: 30%;
  padding: 10px;
  box-shadow: -3px -2px 15px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px -2px 15px 2px rgba(0,0,0,0.75);
-moz-box-shadow: -3px -2px 15px 2px rgba(0,0,0,0.75);
}

.img{
  width: 100%;
}

.home{
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;

}